<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="FileStorePath" value="d:\Files" />
    <!--for file server-->
    <add key="FileServer_Enabled" value="true" />
    <add key="FileServer_Port" value="9001" />

    <!--for file enqueuer-->
    <add key="FileEnqueuer_Enabled" value="true" />
    <add key="FileEnqueuer_Interval" value="2000" />
    <add key="FileEnqueuer_SyncApi" value="http://111.17.215.232:96/OnlineStudy.Api/api/course/transingfilepath?lastTime={0}&amp;schooId=6B915392-B695-4026-9526-2F6DBCD7D7DE" />
    
    <!--for file puller-->
    <add key="FilePuller_Enabled" value="true" />
    <add key="FilePuller_RetryTimes" value="1" />
    <add key="FilePuller_DownloadTimeout" value="60000" />
    <add key="FilePuller_Interval" value="1000" />

    <!--<add key="(.*)" value="(.*)"/>.*--><!--(.*)-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
